@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:500,700&display=swap");
body {
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif; }

a {
  font-family: 'Red Hat Display', sans-serif; }

a,
a:hover,
a:active {
  text-decoration: none; }

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(182, 182, 182, 0.05)), to(#b6b6b6)), url("/assets/img/header.jpg");
  background: -o-linear-gradient(rgba(182, 182, 182, 0.05), #b6b6b6), url("/assets/img/header.jpg");
  background: linear-gradient(rgba(182, 182, 182, 0.05), #b6b6b6), url("/assets/img/header.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden; }

.az-logo--img {
  width: 300px;
  height: 100%; }

.az-logo--bar {
  position: absolute;
  top: 0;
  width: calc((100% - 300px)/2);
  height: 53px;
  background-color: #e91e79; }

#right.az-logo--bar {
  right: 0; }

#left.az-logo--bar h6 {
  font-weight: 400; }

.container-fluid.az-title {
  position: absolute;
  top: 41%; }

.az-title-main {
  max-width: 75%;
  height: auto;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.az-title-second {
  -ms-flex-item-align: end;
  align-self: flex-end;
  position: relative;
  right: 22px; }

.az-purchase {
  background-color: #e91e79;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 2.8rem;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%); }

.az-social-icons {
  width: 50px; }

#facebook.az-social-icons {
  width: 25px; }

footer {
  width: 100%;
  background-color: #e91e79;
  position: absolute;
  bottom: 0; }

.phone-number {
  font-weight: 700; }

@media (max-width: 992px) {
  .az-title-second {
    font-size: 1.5rem; } }

@media (max-width: 768px) {
  .az-logo--img {
    width: 200px;
    height: 100%; }
  .az-logo--bar {
    width: calc((100% - 200px)/2 + 1px);
    height: 34.5px; }
  .az-title-main,
  .az-title-second {
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center !important; }
  .az-title-second {
    font-size: 1.25rem;
    right: 0; }
  .az-purchase {
    font-size: 2rem;
    padding-left: 3rem;
    padding-right: 3rem; }
  .container-fluid.az-title {
    top: 38%; } }

@media (max-width: 425px) {
  .az-logo--img {
    width: 125px;
    height: 100%; }
  .az-logo--bar {
    width: calc((100% - 125px)/2 + 1px);
    height: 21.5px; }
  .az-title-second {
    font-size: 0.75rem; }
  .az-purchase {
    font-size: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem; }
  .az-social-icons {
    width: 20px; }
  #facebook.az-social-icons {
    width: 10px; } }
