@media (max-width: 992px) {
  .az-title-second {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .az-logo--img {
    width: 200px;
    height: 100%;
  }

  .az-logo--bar {
    width: calc((100% - 200px)/2 + 1px);
    height: 34.5px;
  }

  .az-title-second {
    font-size: 1.25rem;
  }

  .az-purchase {
    font-size: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .az-location {
    font-size: 2rem;
  }

  .container-fluid.az-title {
    top: 38%;
  }
}

@media (max-width: 425px) {
  .az-logo--img {
    width: 125px;
    height: 100%;
  }

  .az-logo--bar {
    width: calc((100% - 125px)/2 + 1px);
    height: 21.5px;
  }

  .az-title-second {
    font-size: 0.75rem;
  }

  .az-purchase {
    font-size: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .az-location {
    font-size: 1.25rem;
  }

  .az-social-icons {
    width: 20px;
  }

  #facebook.az-social-icons {
    width: 10px;
  }
}