@media (max-width: 768px) {
  .az-logo--img {
    width: 200px;
    height: auto;
  }

  .az-logo--bar {
    width: calc((100% - 200px)/2 + 1px);
    height: 34.5px;
  }
}

@media (max-width: 425px) {
  .az-logo--img {
    width: 125px;
    height: auto;
  }

  .az-logo--bar {
    width: calc((100% - 125px)/2 + 1px);
    height: 21.5px;
  }
}