header {
    background-image: url("/storage/img/_header.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.container-fluid.az-title {
    position: absolute;
    top: 50%;
}

.az-title-main {
    max-width: 80%;
    height: auto;
}

.az-title-second {
    text-shadow: -1px 0 #b6b0aa, 0 1px #b6b0aa, 1px 0 #b6b0aa, 0 -1px #b6b0aa;
}

.az-title-arrows {
    width: 100%;
    position: absolute;
    bottom: 5%;
}

.az-title-arrow {
    -webkit-animation: moveUpDown 3000ms linear infinite;
    animation: moveUpDown 3000ms linear infinite;
    position: relative;

    img {
        width: 50px;
    }
}

@-webkit-keyframes moveUpDown {

    0%,
    100% {
        top: 0px;
    }

    50% {
        top: 30px;
    }
}

@keyframes moveUpDown {

    0%,
    100% {
        top: 0px;
    }

    50% {
        top: 30px;
    }
}

// Attractions
#attractions {
    padding-top: 1rem;
    background: rgb(233, 30, 121);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 30, 121, 1)), color-stop(50%, rgba(255, 255, 255, 1)));
    background: -o-linear-gradient(top, rgba(233, 30, 121, 1) 0%, rgba(255, 255, 255, 1) 50%);
    background: linear-gradient(180deg, rgba(233, 30, 121, 1) 0%, rgba(255, 255, 255, 1) 50%);

    .container {
        position: relative;
    }
}

.attraction {
    margin: 0.5rem;

}

.attraction-img {
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
}

.attraction-title {
    background-color: $menu-bg-color;
    padding: 0.5rem;
}

.slick-arrow.next,
.slick-arrow.prev {
    position: absolute;
    top: 40%;
}

.slick-arrow.next:hover,
.slick-arrow.prev:hover {
    cursor: pointer;
}


.slick-arrow.prev {
    left: 0;
}

.slick-arrow.next {
    right: 0;
}

.fas.fa-chevron-left,
.fas.fa-chevron-right {
    font-size: 3rem;
    color: $menu-bg-color;
}

// Party & Cafe additional elements

.section-card-desc,
.section-card-readmore {
    background-color: $menu-bg-color;
}

.section-card-desc {
    border-right: 2px solid #ffffff;
    padding: 0.25rem;
}

.section-card-readmore {
    clip-path: polygon(0 0, 100% 0%, calc(100% - 40px) 100%, 0 100%);

    i.fas {
        color: #ffffff;
        font-size: 3rem;
    }
}

// Pricelist

#pricelist {
    .section-title-bar {
        background-color: $menu-bg-color;
        position: relative;
        margin-bottom: 2rem;
    }

    #xs.section-title-bar {
        width: 40%;
    }

    // #azone.section-title-bar {
    //     width: 70%;
    //     clip-path: polygon(2% 0, 100% 0%, 100% 100%, 0% 100%);
    // }
}

.pricelist-card {
    max-width: 150px !important;
    padding: 0.5rem;
    position: relative;
    margin: 0.5rem;
}

.xs-zone {
    background-color: $section-title-bar;
}

.a-zone {
    background-color: $menu-bg-color;
}

.pricelist-title {
    font-weight: 400;
}

.price-number {
    font-size: 4rem;
    font-weight: 700;
}

.pricelist-price>.fa-euro-sign {
    font-size: 1rem;
}

.pricelist-info {
    position: absolute;
    right: 1%;
    bottom: 1%;
}

.pricelist-info>.fa-info {
    color: #000000;
}
