body {
    position: relative;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Text', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-family: 'Red Hat Text', sans-serif;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

//Cookies consent window

#cookies-policy .cookies__alert {
    border: none !important;
    border-radius: 0 !important;
}

#cookies-policy .cookies__actions .cookiesBtn__link {
    background: $menu-bg-color;
    border: none;
}

#cookies-policy .cookies__intro a:focus,
#cookies-policy .cookies__intro a:hover {
    color: $menu-bg-color !important;
}
