body {
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

a {
    font-family: 'Red Hat Display', sans-serif;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

// Section card

.section-cards {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .container {
        position: relative;
        width: 70%;
    }

    .section-title-bar {
        margin-bottom: -2rem;
        position: absolute;
        z-index: 1;
    }
}

.section-title-bar {
    background-color: $section-title-bar;
    padding: 0.25rem;
    margin-bottom: 2rem;
    width: 60%;
    clip-path: polygon(0 0, 100% 0%, calc(100% - 40px) 100%, 0 100%);
}

// buy&reserve btns

.buy-reserve-btns {
    margin-top: 1rem;
    max-width: 460px;
    font-size: 2.5rem;

    &.buy {
        background-color: $menu-bg-color;
    }

    &.reserve {
        background-color: $section-title-bar;
    }
}


// footer 

.footer-bar {}

footer {
    margin-top: 1rem;
    padding-top: 1rem;
    width: 100%;
    border-top: 5px solid $menu-bg-color;
    background-color: #808080;
}

.footer-logo-img {
    width: 100px;
}


.soc-icon {
    width: 150px;
}
