@media (max-width: 575px) {
    .az-title-second {
        font-size: 1rem;
    }

    .section-title-bar {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .az-title-arrows {
        bottom: 20%;
    }

    .section-cards {
        .container {
            width: 85%;
        }
    }

    .section-card-desc {
        border: none;
    }

    .section-card-readmore {
        margin-top: 0.1rem;
    }
}

@media (min-width: 1440px) {
    .az-title-main {
        max-width: 60%;
    }
}
