.product-page.az-menubar,
#mobile-navbar.product-page {
    background-color: $product-page-menu-bg-color;
}

.header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
}

.product-page-title {
    .az-title-second {
        position: relative;
        width: 100%;
        font-size: 6rem;
        font-family: "DIN2014-ExtraBold", sans-serif;
        // padding-top: 10%;
        font-weight: 700;
    }
}

#gallery {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

#description {
    background: -webkit-gradient(linear, left top, left bottom, from(#20abe2), color-stop(75%, rgba(255, 255, 255, 1)));
    background: -o-linear-gradient(top, #20abe2 0%, rgba(255, 255, 255, 1) 75%);
    background: linear-gradient(180deg, #20abe2 0%, rgba(255, 255, 255, 1) 75%);
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 20px;
}

.photothumb {
    width: 100%;
}

.lb-outerContainer {
    border-radius: 0 !important;
}

.lightbox .lb-image {
    border: none;
    border-radius: 0 !important;
}

.product-description {
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    display: block !important;
    font-family: 'Red Hat Display', sans-serif;
    text-align: justify;
    color: $menu-bg-color;
    font-weight: 600;

    p {
        margin: 1rem;
        font-weight: 500;
    }

    ul,
    li {
        list-style: square;
        margin: 1rem;

    }
}

.meta.product-description {
    font-weight: 700;
}

.section-title-bar.product-page {
    -webkit-clip-path: none;
    clip-path: none;
    width: 100%;
    background-color: $menu-bg-color;
    margin-bottom: 1rem;
}

#attractions#product-page {
    background: none;
}
