.productpage.az-menubar,
#mobile-navbar.productpage {
    background-color: $product-page-menu-bg-color;
}

.product-page-title {
    .az-title-second {
        font-size: 4rem;
        width: 100%;
        text-align: center;
    }
}
