.product-page.az-menubar,
#mobile-navbar.product-page {
    background-color: $product-page-menu-bg-color;
}



.header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.9;
}

.product-page-title {
    .az-title-second {
        position: relative;
        width: 100%;
        font-size: 6rem;
        font-family: "Din2014", sans-serif;
        // padding-top: 10%;
        // font-weight: 700;
        // -webkit-text-stroke: 0.25px rgba(105, 96, 89, 1);
        // -webkit-text-stroke: 0.2px #808080;
        letter-spacing: -1.5px;
        text-shadow:
            -2px -2px 0 #808080,
            2px -2px 0 #808080,
            -2px 2px 0 #808080,
            2px 2px 0 #808080;
    }
}

#gallery {
    padding-top: 1rem;
    margin-bottom: 1rem;

    .container {
        position: relative;
    }

    .row.gallery {
        margin-left: 8rem;
        margin-right: 8rem;
    }
}

.ekko-lightbox-nav-overlay a span,
.ekko-lightbox-nav-overlay a:last-child span {
    color: $menu-bg-color;
    font-size: 3rem;
}

.ekko-lightbox.modal {
    .modal-body {
        padding: 0;
    }
}

#description {
    background: -webkit-gradient(linear, left top, left bottom, from(#20abe2), color-stop(75%, rgba(255, 255, 255, 1)));
    background: -o-linear-gradient(top, #20abe2 0%, rgba(255, 255, 255, 1) 75%);
    background: linear-gradient(180deg, #20abe2 0%, rgba(255, 255, 255, 1) 75%);
    margin-bottom: 1rem;
    padding-top: 2rem;
}



.grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 20px;
}

.product-description {
    margin-bottom: 1rem;
    padding: 0 11rem;
    display: block !important;
    text-align: justify;
    color: $menu-bg-color;
    font-weight: 600;

    p {
        margin: 1rem;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1;
    }

    ul,
    li {
        list-style: none;
        margin: 1rem;
    }

    li::before {
        content: "•";
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        color: $menu-bg-color;
    }
}

.meta.product-description {
    font-weight: 700;
}

.section-title-bar.product-page {
    -webkit-clip-path: none;
    clip-path: none;
    width: 100%;
    background-color: $menu-bg-color;
    margin-bottom: 1rem;
}

a[class*=lightcase-icon-].lightcase-icon-next,
a[class*=lightcase-icon-].lightcase-icon-prev {
    // color: $menu-bg-color !important;
}

.square {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    padding: 0.125rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

#attractions#product-page {
    background: none;
}
