// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$menu-bg-color: #e91e79;
$section-title-bar: #20abe2;
$party-section-card: #662d85;
$membership-section-card: #808080;
$a-zone-pricelist: #5cd823;

$product-page-menu-bg-color: #20abe2;

$general-clip-path: polygon(0 0, 100% 0%, calc(100% - 40px) 100%, 0 100%);
$second-general-clip-path: polygon(calc(0% + 40px) 0, 100% 0%, 100% 100%, 0 100%);

$second-lvl-clip-path: polygon(30px 0, 100% 0%, calc(100% - 30px) 100%, 0 100%);
$second-second-lvl-clip-path: polygon(30px 0, 100% 0%, 100% 100%, 0 100%);

$third-lvl-clip-path: polygon(25px 0, 100% 0%, calc(100% - 25px) 100%, 0 100%);


// $second-general-clip-path: polygon(0% 100%, 40px 0%, 100% 0%, 100% 100%, 0% 100%, 0 calc(100% - 40px));
