header {
    background: linear-gradient(90deg, rgba(32, 29, 29, 0.25),
            rgba(32, 29, 29, 0.25)),
        url('img/header.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 600px;
}


.navbar {
    background-color: $menu-color;
}

.navbar-nav {
    width: 100%;
    height: 40px;
}

.navbar-nav>div:not(.middle) {
    flex: 1 1 auto;
}

// .navbar-nav>div.middle {
//     width: calc(var(--background-cutout) * 2);
//     /* creates the "hole */

//     display: flex;
//     justify-content: center;
//     /* place .circle in center */
//     align-content: end;
//     /* place .circle in the bottom */
// }

// .navbar-nav>div.middle>.navbar-logo {
//     height: var(--background-cutout);
//     width: var(--background-cutout);
//     border-radius: 50%;
//     box-sizing: border-box;
//     /* only needed because I used a border */
//     border: 5px solid aqua;
//     transform: translateY(50%);
// }



.navbar-logo {
    width: 100px;
    height: 100px;
}

.navbar-light .navbar-nav .nav-link {
    color: $menu-item-color;
}

.header-text {
    height: 100%;

    .header-text-container {
        h1 {
            font-size: 5rem;
            margin-bottom: 0;
        }
    }
}
