// header

header {
    background-image: url('img/header.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 600px;
    position: relative;
}

.header-text { 
    position: relative;
    top: 50px;

    h1 {
        font-size: 5rem;
        margin-bottom: 0;
    }


}

// end of header

// small cards

section#small-cards {
    position: relative;
    top: -100px;
}

.small-card {
    max-width: 300px;
}

.small-card a {
    text-decoration: none;
}

.small-card img {
    max-width: 300px;
    height: 300px;
    text-align: center;
}

.small-card-title {
    background-color: #EE2A7B;
    color: #fff;
}

.small-card-desc {
    color: #000000;
}

// end of small cards

// large card
.large-card {
    position: relative;
}

.large-card-title {
    color: #fff;
    background-color: #EE2A7B;
    width: 25%;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: -3%;
    left: -3%;
}

.large-card-title.park-map,
.large-card-title.values {
    background-color: #00AEEF;
}

.large-card-title.values {
    position: relative;
}


.large-card a {
    text-decoration: none;
}

.large-card-desc {
    color: #000000;
    padding: 0 10%;
}

.lists-group.values {
    padding: 0 10%;
    color: #000000;
}

.large-card-prices,
.large-card-google-maps {
    width: 70%;
    margin: 0 auto;
    color: #fff;
    border-radius: 10px;
}

.large-card-prices {
    background-color: #662D91;

}

.large-card-google-maps {
    background-color: #EE2A7B;
}


// end of large card
