@media (max-width: 768px) {
    header {
        height: 400px;
    }

    .header-text-container h1 {
        font-size: 3rem !important;
    }

    .header-text,
    section#attractions {
        top: 0;
    }

    section#attractions>.container {
        top: -50px;
    }
}

@media (max-width: 576px) {
    .header-text-container h1 {
        font-size: 2.8rem !important;
    }

    .header-text-container h3 {
        align-self: center !important;
        font-size: 1.5rem !important;
    }

    .services-title {
        width: 200px;
        left: 1%;
    }

    .services-desc {
        padding: 0;
    }
}

@media (max-width: 425px) {
    .header-text-container {
        h1 {
            font-size: 2rem !important;
        }

        h3 {
            font-size: 1.25rem !important;
        }
    }
}
