.navbar {
    background-color: #00FFCE;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
    position: relative;
}


.left-navbar-side,
.right-navbar-side {
    width: 50%;
    justify-content: space-evenly;
}

.navbar-logo {
    position: absolute;
    z-index: 1;
}

.az-logo {
    width: 130px;
    height: 140px;
    display: inline-block;
    background-size: cover;
    background-image: url('img/az-logo.png');
}

.navbar-light .navbar-nav .nav-link {
    color: #00AEEF;
}
