footer {
    margin-top: 1rem;
    padding-top: 1rem;
    width: 100%;
    border-top: 5px solid $menu-bg-color;
    background-color: #808080;
}

.footer-logo-img {
    width: 100px;
}


.footer-address a {
    color: #fff;
}

.soc-icon {
    width: 60px;
}

.working-hours {
    padding-left: 8px;
}

.footer-bar {
    padding-top: 1rem;
    width: 100%;

    .green,
    .blue,
    .red {
        height: 20px;
    }

    .green {
        width: 20%;
        background-color: rgb(179, 198, 79);
    }

    .blue {
        width: 40%;
        background-color: #20abe2;
    }

    .red {
        width: 40%;
        background-color: rgb(202, 78, 58);
    }
}
