#pricelist {
    .section-title-bar {
        background-color: $menu-bg-color;
        position: relative;
        margin-bottom: 2rem;
    }
}

.pricelist-block {
    width: 100%;
}

#second-row.pricelist-block {
    margin-top: 2rem;
}


.left {
    width: 40%;
}

.right {
    width: 60%;

    .section-title-bar {
        clip-path:
            polygon(0% 100%,
                /* top left */
                40px 0%,
                /* top left */
                100% 0%,
                /* top right */
                100% 100%,
                /* top right */
                0% 100%,
                /* bottom left */
                0 calc(100% - 40px)
                /* bottom left */
            );

    }
}

.left,
.right {
    .section-title-bar {
        width: 100%;
    }
}

#xs.section-title-bar {
    background-color: $section-title-bar;
}

#party.section-title-bar,
.party {
    background-color: $party-section-card;
}

#membership.section-title-bar,
.membership {
    background-color: $membership-section-card;
}

.pricelist-card {
    max-width: 140px !important;
    height: 140px !important;
    padding: 0.5rem;
    position: relative;
    margin: 0.5rem;
    // clip-path: polygon(0% 20px, 20px 0%, 100% 0%, 100% 26px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 calc(100% - 20px))
    clip-path: polygon(0% 20px, 20px 0%, 100% 0%, 100% 100%, 0px 100%);
}

.xs-zone {
    background-color: $section-title-bar;
}

.a-zone {
    background-color: $menu-bg-color;
}

.pricelist-title {
    font-weight: 400;
}

.price-number {
    font-size: 4rem;
    font-weight: 700;
}

.pricelist-price>.fa-euro-sign {
    font-size: 1rem;
}

.pricelist-info {
    // position: absolute;
    // right: 1%;
    // bottom: 1%;
    background-color: #ffffff;
    border-radius: 0;
    display: inline-block;
    padding: 2rem;
    position: absolute;
    bottom: -33px;
    right: -28px;
    -webkit-clip-path: polygon(12px 56px, 45px 19px, 62.80% 64.26%);
    clip-path: polygon(12px 56px, 45px 19px, 62.80% 64.26%);
}

.pricelist-info>.fa-info {
    color: #000000;
}
